<div class="p-4 w-[450px] mx-auto">
    <div class="bg-white p-8 rounded shadow-md">
        <h2 class="text-2xl mb-4">Iniciar Sesión</h2>

        <div class="mb-4">
            <label for="usuario" class="block text-gray-700 text-sm font-bold mb-2">Usuario</label>
            <input type="text" name="usuario" placeholder="Usuario" class="w-full border rounded px-3 py-2  outline-blue-400">
        </div>

        <div class="mb-4">
            <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre" class="w-full border rounded px-3 py-2  outline-blue-400">
        </div>

        <div class="mb-4">
            <label for="contraseña" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
            <input type="password" name="contraseña" placeholder="Contraseña" class="w-full border rounded px-3 py-2  outline-blue-400">
        </div>

        <button class="font-bold py-2 px-4 rounded">
            <a routerLink="/auth/new-account" class="text-red-500">¿No tienes cuenta?</a>
        </button>
    </div>
</div>
