<div class="p-4 w-[420px] mx-auto">
    <div class="bg-white p-8 rounded shadow-md">
        <h2 class="text-2xl mb-4">Regístrate</h2>

        <div class="mb-4">
            <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
            <input type="text" name="nombre" placeholder="Usuario" class="w-full border rounded px-3 py-2 outline-blue-400">
        </div>

        <div class="mb-4">
            <label for="contraseña" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
            <input type="password" name="contraseña" placeholder="Contraseña" class="w-full border rounded px-3 py-2  outline-blue-400">
        </div>

        <button class=" font-bold py-2 px-4 rounded">
            <a routerLink="/auth/login" class="text-red-500">¿Ya tienes cuenta?</a>
        </button>
    </div>
</div>
